* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    font-family: sans-serif;
    font-size: 62.5%;
}

body{ 
    background-color: rgb(226, 231, 238);
}

legend {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.8rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    border: 0;
}

fieldset label {
    font-size: 1.6rem;
}

input[type=text] {
    width: 75%;
    padding: 1.2rem 1.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1.6rem;
}


.fieldCarenciaWrap input[type=checkbox] {
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border: 0.1rem solid #ccc;
}

.fieldCarenciaWrap input[type=checkbox]:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

.fieldCarenciaWrap input[type=checkbox]:checked {
    background-color: #2196F3;
    border: 0;
}

#carenciaTempo {
    padding: 1.2rem 1.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    font-size: 1.6rem;
}

.fieldsWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.fieldCarenciaWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    margin-bottom: 1.2rem;
}

button {
    background-color: #555555;
    color: #fff;
    padding: 1.5rem 3.2rem;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 0.4rem;
    width: 20%;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: 0.3s;
}
